<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    
    table.center{
	margin-left:auto;
	margin-right:auto;
    }

    input[type=text] {
	border: 2px solid blue;
	border-radius: 4px;
    }
  </style>

<body>
  <h1>Welcome to the Menu Management Section</h1>

<p><table border class="center">
<tr>
    <caption>Query Menu</caption>
</tr>
<tr>
    <th>Input Number</th>
    <th>Description</th>
<tr>
    <td bgcolor=yellow>1</td>
    <td bgcolor=yellow>View/Alter Restaurant Menu</td>
</tr>
<tr>
    <td>2</td>
    <td>View Sales for Menu Items</td>
</table> 

<form method="POST" action="/menu_input">
<p>Which query would you like to run: <input type="text" name="query"> 
<input type="submit"></p>
</form>

  <p><table border class = "center">
  <tr>
	  <caption>Current_menu</caption>
  </tr>
  <tr>
	  <th>Menu Item</th>
	  <th>Price</th>
	  <th>Description</th>
  </tr>
    {% for n in data[0] %}
    <tr>
    <td>{{n[0]}}</td>
    <td>{{n[1]}}</td>
    <td>{{n[2]}}</td>
    </tr>
    {% endfor %}
  </table>

    <div>
    <br>
    {% block content %}{% endblock %}
    <br>
    </div>


<p><a href="/">Return to Database Homepage</a></p>

</body>
</html>
