<body>
	<h1> Matthew Duran and Meghan Shah's References.txt for this Front-End Assignment</h1>
	<p> 1) https://www.w3schools.com/howto/howto_css_table_center.asp 
	used for centering a table and how to write an html class </p>

	<p> 2) AP lab 7, I used the code I wrote for this lab to format the data in an html table. 
	I can show my solutions if needed. This is how I am getting the html borders and border colors. </p>

	<p> 3) https://www.w3schools.com/tags/tag_caption.asp
	used for adding a caption/title to the table </p>

	<p> 4) https://www.w3schools.com/css/css_form.asp
  	used for learning how to make a border for the input box. It was really hard to see where the 
	user needed to input, so I learned how to write a border to show it easier. </p>

 	<p> 5) https://realpython.com/primer-on-jinja-templating/
  	Inheritance blocks, really cool for having children use the parent structure but add their own functionality into it </p>

 	<p> 6) https://www.frankcleary.com/python-templates-with-jinja2/ </p>
 	<p> 7) https://gist.github.com/robsmith1776/7d3cfb8d1a6351242420d47c2c7f27cf 
   	Used resource 6 and 7 to learn how to format tables using jinja. I knew how to write them in html but not how to render to the screen. These were good primers. </p>

 	<p> 8) https://www.reddit.com/r/flask/comments/60gn9u/af_simple_question_about_putting_an_image_on_the/ </p>
 	<p> 9) https://stackoverflow.com/questions/33355159/how-can-i-dynamically-render-images-from-my-images-folder-using-jinja-and-flask
  	I used resources 8 and 9 to troubleshoot why my jpg outputs were not rendering on the html. I needed a hint as to where to point the img src to. 
  	Spoiler alert, needed a static directory. </p>

 	<p> 10) https://datatofish.com/pie-chart-matplotlib/
  	This link helped me with generating a pie chart, and the code I wrote is embedded in the server source </p>

 	<p> 11) https://chartio.com/resources/tutorials/how-to-save-a-plot-to-a-file-using-matplotlib/
  	Just needed to remember how to save a photo, and these go into the static directory. More on this later. </p>

 	<p> 12) https://matplotlib.org/2.0.2/examples/pylab_examples/multiple_figs_demo.html
  	How to work with multiple plots in one function, I was having issues where plots were being overlaid on top of others when I didn't want them to. </p>

 	<p> 13) https://realpython.com/primer-on-jinja-templating/ </p>
 	<p> 14) https://flask.palletsprojects.com/en/1.1.x/api/#incoming-request-data
  	Used the above two sources as a primer on embedded SQL queries with python code to a front end server. They were great resources. 
	I look forward to using jinja/flask templates to write my own website over the summer. </p>

 	<p> README NOTES: </p>

 	<p> When actually working with this server, you need to ensure that there exists a static directory, where the jpgs will be sent to. I will commit the 
	static directory so it is not necessary for you to create one. Just note, that when the server is working it will output new photos with different 
	content (if the underlying data changed). </p>

	 <p> In my menu dynamic page, I cannot support delete, or updates on names. Those require triggers throughout the rest of the DB, which the code doesn't currently support </p>
</body>
